{% extends 'app_settings/base.html' %}
{%load static %}
{% block content %}
    <h1>FarmLand</h1>
    <p>FarmLand – представник торгового майданчика на тему господарської техніки.
        На даний момент ви можете купити Трактори John Deere 8400R 2017 разом з John Deere 9510 R 2014, комбайни New Holland CX 8070 2010 і LOVOL GM80 ,
        вдобрювач Matrot M44D 36M Self Propelled Sprayer. Наші люди дуже досвідчені у своїй справі наші постачальники не
        дозволять зробити щось погане з вашим вантажем, наш відділ продажів зробить все можливе щоб замовлення потрапило саме до вас,
        наш менеджер вкрай товариський тому якщо стане нудно можете з ним побалакати, приємного досвіду з нашими співробітниками. І ми завжди будемо чекати на вас знову!</p>

        <img src="" alt="Not found">
        <h3>УВАГА ЗНИЖКА 20% НА ТРАКТОР <br>John Deer 8400R 2017 року</h3>
{% endblock %}