{% extends 'app_settings/base.html' %}
{%load static %}
{% block content %}
    <h1>FarmLand</h1>
    <p>FarmLand - представитель торговой площадки на тему хозяйственной техники. 
        На данный момент вы можете купить Трактора John Deer 8400R 2017 года вместе с John Deer 9510 Р 2014 года, комбайны New Holland CX 8070 2010 года и LOVOL GM80 , 
        удобряющий автомобиль Matrot M44D 36M Self Propelled Sprayer. Наши люди очень опытные в своём деле наши доставщики не
        позволят сделать что то плохое с вашим грузом, наш отдел продаж сделает всё возможное что бы заказ попал именно к вам,
        наш менеджер крайне общительный по этому если станет скучно можете с ним поболтать, приятного опыта с нашими сотрудниками. И мы всегда будем ждать вас снова!</p>

        <img src="" alt="Not found">
        <h3>ВНИМАНИЕ СКИДКА 20% НА ТРАКТОР <br>John Deer 8400R 2017 года</h3>
{% endblock %}