<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_settings/css/base.css' %}">
    <title>Магазин FarmLand</title>
    {% block links %}

    {% endblock %}
</head>
<body>
    <header>
        <a href="{% url 'main' %}" id = "Main"><h1>Головна сторінка</h1></a>
        <a href="{% url 'contacts' %}"><h1>Контакти</h1></a>
        <a href="{% url 'shopping' %}"><h1>Кошик</h1></a>
        <a href="{% url 'products' %}"><h1>Продукти</h1></a>
        
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <a href="">Instagram</a>
        <a href="" id = "tg">Telegram</a>
    </footer>
</body>
</html>